.titulo1{
    background-color: rgb(238, 214, 183);
    color: black;
    text-align: center;
    margin: 1%;
    
}

.imgtitulo1{
    width: 250px;
    height: auto;
    align-items: center;
}

.titulo2 {
    align-items: center;
    text-align:center ;
    color: black;
    background-color: rgb(238, 214, 183);
    background-size: 100%;
    width: 100%;
    margin: 0px;
}

p {
    text-align: center;
}

.textocentro {
    text-align: center;
}

* {
    background-color:rgb(255, 255, 255) ;
}

iframe {
    width: 100%;
    height: auto;
}